In [2]:
import pandas as pd

# Read the first TSV file
df1 = pd.read_csv('valid_preprocess.tsv', sep='\t')

# Read the second TSV file
df2 = pd.read_csv('train_preprocess.tsv', sep='\t')

In [12]:
# adding column name to the respective columns
df1.columns =['text', 'label']
df2.columns =['text', 'label']

In [13]:
df1

                                                   text     label
0                                            tidak enak  negative
1     restoran ini menawarkan makanan sunda . kami m...  positive
2     lokasi di alun alun masakan padang ini cukup t...  positive
3     betapa bejad kader gerindra yang anggota dprd ...  negative
4     kampiun bistro berada di jalan . kebon kawung ...  positive
...                                                 ...       ...
1254  film tncfu , tidak cocok untuk penonton yang t...  negative
1255  indihome ini mahal loh bayar nya . hanya , pen...  negative
1256  be de gea , cowok cupu yang takut dengan pacar...  negative
1257  valen yang sangat tidak berkualitas . konentat...  negative
1258  restoran ini menjadi tempat pilihan saya berbu...  positive

[1259 rows x 2 columns]

In [16]:

# Perform inner join based on a common identifier column
merged_df = pd.concat([df1, df2], ignore_index=True)

# Save the merged dataframe to a new TSV file
merged_df.to_csv('merged_train_valid_file.tsv', sep='\t', index=False)

In [17]:
merged_df

                                                    text     label
0                                             tidak enak  negative
1      restoran ini menawarkan makanan sunda . kami m...  positive
2      lokasi di alun alun masakan padang ini cukup t...  positive
3      betapa bejad kader gerindra yang anggota dprd ...  negative
4      kampiun bistro berada di jalan . kebon kawung ...  positive
...                                                  ...       ...
12253                                       tidak kecewa  positive
12254  enak rasa masakan nya apalagi kepiting yang me...  positive
12255        hormati partai-partai yang telah berkoalisi   neutral
12256  pagi pagi di tol pasteur sudah macet parah , b...  negative
12257  meskipun sering belanja ke yogya di riau junct...  positive

[12258 rows x 2 columns]

### Mergeed all include test

In [10]:
df12 = pd.read_csv('merged_train_valid_file.tsv', sep='\t')
df3 = pd.read_csv('test_preprocess.tsv', sep='\t', header=None)
df3.columns =['text', 'label']

In [11]:
# Perform inner join based on a common identifier column
merged_df = pd.concat([df12, df3], ignore_index=True)

merged_df

                                                    text     label
0                                             tidak enak  negative
1      restoran ini menawarkan makanan sunda . kami m...  positive
2      lokasi di alun alun masakan padang ini cukup t...  positive
3      betapa bejad kader gerindra yang anggota dprd ...  negative
4      kampiun bistro berada di jalan . kebon kawung ...  positive
...                                                  ...       ...
12753  kata nya tidur yang baik itu minimal enam jam ...   neutral
12754                  indonesia itu ada di benua asia .   neutral
12755  salah satu kegemaran anak remaja indonesia sek...   neutral
12756  melihat warna hijau bisa bikin mata jadi lebih...  positive
12757  bondan winarno yang suka bilang maknyus sekara...   neutral

[12758 rows x 2 columns]

In [14]:
# check sum of unique values in the label column
merged_df['label'].value_counts()

label
positive    7358
negative    4034
neutral     1366
Name: count, dtype: int64